<!DOCTYPE html>
<html lang="en">
<head>
  {{>header}}
    
</head>
<body>
    
    {{>navbar}}
    <!-- main header -->

    <div class="container-fluid main_menu2">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto" id="main_contents">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" id="cityname" placeholder="Enter your cityname" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                 <div class="tempInformation">
                    <div class="top_layer">
                        <p id="day">Tuesday</p><span class="currentTime"></span>
                        <p id="today_date">13 OCT</p>
                    </div>
                    <div class="main_layar">
                        <p id="city_name">Get City</p>
                        <div class="middle_layer data_hide">
                            <p id="temp" ><span id="tempreture">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i class="fas fa-cloud " style="color:blue"></i></p>
                        </div>
                    </div>
                 </div>
            </div>
        </div>
    </div>

    <!-- footer - code -->

    {{>footer}}
 

    <script src="js/main.js">
     
    </script>

</body>
</html>